# Configuration Email SMTP (IONOS)
SMTP_HOST=smtp.ionos.fr
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=hello@monsolly.com
SMTP_PASS=VotreMotDePasseIonosIci

# Adresse de réception des demandes & devis
EMAIL_TO=hello@monsolly.com
EMAIL_FROM=Solly Réservations <hello@monsolly.com>
